@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1c0d0d;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Optional: If we wanted to respect system preference by default, we'd handle it in JS. 
       For now, since we force class="light" or "dark", we should rely on that class. */
  }
}

.dark {
  --background: #221010;
  --foreground: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer components {
  .glass-nav {
    backdrop-filter: blur(10px);
    background-color: rgba(253, 253, 253, 0.8);
  }
  .dark .glass-nav {
    background-color: rgba(34, 16, 16, 0.8);
  }
}
